aside {
    background: #1e262f;
    font-family: arial;
    width: 20rem;
    padding-top: 24px;
    overflow: auto;

    h1 a {
        color: #fff;
        font-weight: normal;
        padding-left: 24px;
        margin-bottom: 24px;
        line-height: 1;
        display: block;
        text-decoration: none;

        &:before,
        &:after {
            color: #666;
        }

        &:before {
            content: '< ';
        }

        &:after {
            content: ' >';
        }
    }

    ul {
        list-style: none;

        li {
            padding-left: 24px;

            &.active > a {
                background: rgb(50, 63, 78);
                padding: .2rem .5rem;
                padding-right: 0;
                margin: 0 -.5rem;
                margin-right: 0;
                color: #fff;
            }

            a {
                color: #aaa;
                text-decoration: none;
                display: flex;
                align-items: center;

                padding: .2rem 0;

                .icon {
                    height: 18px;
                    width: 18px;
                    margin-right: 10px;

                    svg {
                        fill: #aaa;
                        max-height: 18px;
                        max-width: 18px;
                    }

                    &.icon-snippet {
                        svg {
                            fill: #228ae6;
                        }
                    }

                    &.icon-template {
                        svg {
                            fill: #e69122;
                        }
                    }
                }

                .text {

                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}