:root {
    --snippet: url('../../svg/puzzle-piece-snippet.svg') !important;
    --template: url('../../svg/puzzle-piece-template.svg') !important;
    --raw: url('../../svg/link.svg') !important;
    --code: url('../../svg/code.svg') !important;
    --preview: url('../../svg/eye.svg') !important;
    --file: url('../../svg/file.svg') !important;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: arial;
}

.wrap {
    display: flex;
    height: 100%;
}