.main {
    display: flex;
    flex: 1;
    flex-direction: column;

    pre {
        flex: 1;
    }

    .preview-image {
        padding: 2rem;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @include chess;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}