aside {
    background: #1e262f;
    font-family: arial;
    width: 20rem;
    padding-top: 24px;
    overflow: auto;

    h1 a {
        color: #fff;
        font-weight: normal;
        padding-left: 24px;
        margin-bottom: 24px;
        line-height: 1;
        display: block;
        text-decoration: none;

        &:before,
        &:after {
            color: #666;
        }

        &:before {
            content: '< ';
        }

        &:after {
            content: ' >';
        }
    }

    ul {
        list-style: none;

        li {
            padding-left: 24px;
            position: relative;

            &.active {
                > a {
                    &:before {
                        background: darken(#1e262f, 10%) !important;
                    }

                    span {
                        color: #fff;
                    }
                }
            }

            a {
                color: #aaa;
                text-decoration: none;
                display: block;
                position: relative;

                &:hover {
                    &:before {
                        background: lighten(#1e262f, 5%);
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: -500px;
                    z-index: 0;
                }

                span {
                    display: flex;
                    align-items: center;
                    padding: .3rem 0;
                    z-index: 1;
                    position: relative;
                }

                .icon {
                    height: 18px;
                    width: 18px;
                    margin-right: 10px;

                    svg {
                        fill: #aaa;
                        max-height: 18px;
                        max-width: 18px;
                    }

                    &.icon-snippet {
                        background-image: var(--snippet);
                    }

                    &.icon-template {
                        background-image: var(--template);
                    }
                }

                .text {

                }

                /*&:hover {
                    color: #fff;
                }*/
            }
        }
    }
}