aside {
    background: #1e262f;
    font-family: arial;
    min-width: 20rem;
    padding-top: 24px;
    overflow: auto;

    h1 a {
        color: #fff;
        font-weight: normal;
        padding-left: 24px;
        
        line-height: 1;
        display: block;
        text-decoration: none;

        span {
            display: block;
            margin-bottom: 24px;
        }

        span:before,
        span:after {
            color: #666;
        }

        span:before {
            content: '< ';
        }

        span:after {
            content: ' >';
        }
    }

    ul {
        list-style: none;

        li {
            padding-left: 28px;
            position: relative;

            &.active {
                > a {
                    &:before {
                        background: darken(#1e262f, 10%) !important;
                    }

                    span {
                        color: #fff;
                    }
                }
            }

            .a {
                cursor: default;

                &:hover {
                    &:before {
                        background: none !important;
                    }
                }
            }

            a,
            .a {
                color: #aaa;
                text-decoration: none;
                display: block;
                position: relative;

                &:hover {
                    &:before {
                        background: lighten(#1e262f, 5%);
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: -500px;
                    z-index: 0;
                }

                span {
                    display: flex;
                    align-items: center;
                    padding: .3rem 0;
                    z-index: 1;
                    position: relative;
                }

                .icon {
                    height: 18px;
                    width: 18px;
                    margin-right: 10px;
                    background-repeat: no-repeat;
                    background-position: center;

                    svg {
                        fill: #aaa;
                        max-height: 18px;
                        max-width: 18px;
                    }

                    &.icon-snippet {
                        background-image: var(--snippet);
                    }

                    &.icon-template {
                        background-image: var(--template);
                    }

                    &.icon-file {
                        background-image: var(--file);
                    }
                    &.icon-empty {
                        background-image: var(--empty);
                    }
                }

                .text {
                    .count {
                        display: inline-block;
                        color: #666;
                        font-size: .8rem;

                        &:before {
                            content: '(';
                        }
                        &:after {
                            content: ')';
                        }
                    }
                }

                /*&:hover {
                    color: #fff;
                }*/
            }
        }
    }
}