.home {
    background: #323f4e;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #aaa;

    h1 {
        font-size: 3rem;
        font-weight: normal;
        margin-bottom: 2rem;
        color: #fff;

        .version {
            color: rgba(255,255,255,.5);
            font-size: 1.5rem;
        }

        &:before,
        &:after {
            color: rgba(255,255,255,.2);
        }

        &:before {
            content: '< ';
        }

        &:after {
            content: ' >';
        }
    }

    ol {
        margin-left: 18px;
        margin-bottom: 1.5rem;
        
        li {
            margin-bottom: .5rem;
            font-size: 1rem;

            code {
                font-family: Arial;
                color: #fff;
            }
        }
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
    }

    a {
        color: #aaa;
    }
}